.page-container {
  min-height: calc(100% - 100px);
  background-image: url("/assets/me-hero.jpg");
  background-position-x: 80%;
  background-position-y: top;
  background-size: cover;
}

.hero-title-container {
  margin-bottom: 54px;
}

.hero-text-container {
  margin-bottom: 10px;
}

p.highlight {
  background-color: rgba(255, 255, 255, 0.9);
}

h1.highlight {
  background-color: teal;
  color: white;
}

.highlight {
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  line-height: 1.3;
  display: inline;
  padding: 0px 4px;
}
