<div class="page-container">
  <div class="hero-title-container">
    <h1 class="mat-display-3 page-title highlight">Hi, I'm Kevin!</h1>
  </div>
  <div class="hero-text-container">
    <p class="highlight mat-title">
      I'm a 27-years-old software engineer with a passion for web development
      and an excruciating desire to build beautiful things.
    </p>
  </div>
  <div class="hero-text-container">
    <p class="highlight mat-title">
      Born and raised in Italy, I'm now living in France where I've been working
      for the past 3 years.
    </p>
  </div>
  <div class="hero-text-container">
    <p class="highlight mat-title">
      Not your average code monkey 🐵
    </p>
  </div>
</div>
