body {
  position: relative;
}

header > nav {
  overflow: hidden;
}

#header-background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background-image: url(../assets/background/background.png);
  opacity: 0.8;
  background-size: cover;
}

.container-fluid {
  position: relative;
}

main {
  width: 60%;
  margin: auto !important;
  padding-bottom: 10rem;
}

main * {
  color: white;
  font-family: 'Karla', sans-serif;
  font-size: 2rem;
}

.textbox {
  margin-bottom: 10rem;
}

.partners-container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.partner-single {
  width: 50%;
  display: inline-block;
  margin-bottom: 5rem;
}

.partner-single:nth-child(odd) {
  padding-right: 5rem;
}
.partner-single:nth-child(even) {
  padding-left: 5rem;
}
.partner-single-image > a {
  display: block;
}
.partner-single-image > a > img {
  max-width: 100%;
}

@media (max-width: 1060px) {
  main {
    width: 90%;
    margin: auto !important;
    padding-top: 20rem !important;
  }

  #header-background {
    display: none;
  }
}

@media (max-width: 768px) {
  main {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0 !important;
    padding-top: 20rem !important;
    min-height: 90vh;
  }
}
