<div class="container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav mode="side" class="sidenav" opened>
      <div class="menu-container">
        <div class="menu-top">
          <div class="me-logo">
            <img src="assets/me-square.jpg" alt="Kevin Corizi" loading="lazy" />
          </div>
          <h1 class="me-name mat-display-1">Kevin Corizi</h1>
          <mat-nav-list class="menu">
            <mat-list-item
              *ngFor="let route of routes"
              [routerLink]="route.data?.['canonical']"
              [routerLinkActive]="'menu-active'"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <mat-icon mat-list-icon aria-hidden="false">{{
                route.data?.["icon"]
              }}</mat-icon>
              <span class="menu-label" matLine>{{
                route.data?.["linkText"]
              }}</span>
            </mat-list-item>
          </mat-nav-list>
        </div>
        <div class="menu-bottom">
          <div class="social-container">
            <a
              class="social-icon"
              href="https://github.com/kevincorizi"
              target="_blank"
            >
              <img src="assets/github.png" alt="GitHub" loading="lazy" />
            </a>
            <a
              class="social-icon"
              href="https://www.linkedin.com/in/kevincorizi"
              target="_blank"
            >
              <img src="assets/linkedin.png" alt="LinkedIn" loading="lazy" />
            </a>
          </div>
          <a
            mat-flat-button
            href="mailto:me@kevincorizi.com"
            target="_blank"
            class="email-button"
            color="primary"
            >Let's get in touch!</a
          >
          <a
            mat-mini-fab
            href="mailto:me@kevincorizi.com"
            target="_blank"
            class="email-button-mobile"
            color="primary"
          >
            <mat-icon>email</mat-icon>
          </a>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
