.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-container {
  flex: 1;
}

.menu-container {
  width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-x: hidden;
  justify-content: space-between;
}

.menu-active {
  background-color: rgba(0, 0, 0, 0.04);
}

.me-logo {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
  }
}

.me-name {
  margin-top: 120px;
  margin-bottom: 20px;
}

.menu {
  margin: 30px -20px;
  padding: 0;
}

.social-container {
  display: flex;
  margin-bottom: 30px;

  .social-icon {
    width: 30px;
    height: 30px;
    margin-right: 25px;

    img {
      height: 100%;
      width: 100%;
    }
  }
}

.email-button {
  width: 100%;
}

.email-button-mobile {
  display: none;
}

@media (max-width: 767px) {
  .me-logo {
    height: 40px;
    width: 40px;
  }

  .me-name {
    display: none;
  }

  .menu-container {
    width: 40px;
    padding: 20px 10px 20px 10px;
  }

  .menu {
    margin-top: 20px;
    margin-left: -12px;
    margin-right: -12px;
  }

  .menu-label {
    display: none;
  }

  .social-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;

    .social-icon {
      margin-right: 0;
      margin-bottom: 25px;
    }
  }

  .email-button {
    display: none;
  }

  .email-button-mobile {
    display: block;
  }
}
