#edition {
  max-width: 100vw;
  margin-top: 5rem;

  position: relative;
}

.edition-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
}

.edition-container:not(:first-child) {
  margin-top: 10rem;
}

@media (max-width: 767px) {
  .edition-row.edition-question-container {
    margin-top: 2rem;
  }
}

.edition-header,
.livebook-header,
.edition-content {
  width: 100%;
  min-width: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.edition-content {
  margin: 5rem 0;
}

@media (max-width: 949px) {
  .edition-header,
  .livebook-header,
  .edition-content {
    width: 100%;
    min-width: auto;
    margin-left: 0;
  }
}

.livebook-header {
  margin-top: 7.5rem;
}

.edition-row:not(.collapse) {
  display: flex;
}

.edition-row {
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  margin-bottom: 2rem;
}

.collapse.show {
  display: flex;
}

@media (max-width: 767px) {
  .edition-row {
    flex-direction: column;
  }
}

.edition-left-content {
  width: 39.7%;
}

.edition-right-content {
  width: 45%;
}

@media (max-width: 1199px) {
  .edition-right-content {
    width: 60%;
  }

  .edition-left-content {
    width: 40%;
  }
}

@media (max-width: 767px) {
  .edition-right-content,
  .edition-left-content {
    width: 100%;
  }
}

.edition-left-content p {
  color: #959595;
  font-family: GTAmerica;
  font-size: 0.9375rem;
}

.edition-right-content p {
  color: #959595;
  font-family: GTAmerica;
  font-size: 0.9375rem;
}

@media (max-width: 767px) {
  .edition-left-content p,
  .edition-right-content p {
    font-size: 1.2rem;
  }
}

.edition-right-content h3 {
  color: #fff;
  font-family: GTAmerica;
  font-size: 1.61rem;
  line-height: 3rem;
  margin-bottom: 1rem;
}

@media (max-width: 767px) {
  .edition-right-content h3 {
    line-height: 2.1rem;
    margin-top: 1rem;
  }
}

@media (min-width: 768px) {
  .edition-right-content h3:first-line {
    line-height: 1.61rem;
  }
}

.edition-title-container {
  margin-bottom: 4rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #ccc;
}

@media (max-width: 767px) {
  .edition-title-container {
    margin-bottom: 1rem;
    border-bottom: none;
    padding-bottom: 0;
  }
}

.edition-title-container .edition-right-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  line-height: 2.2rem;
}

@media (max-width: 767px) {
  .edition-title-container .edition-right-content {
    flex-direction: column;
  }
}

.edition-title-container .edition-right-content > div {
  display: inline-flex;
}

@media (max-width: 767px) {
  .edition-title-container .edition-right-content > div {
    width: 100%;
    display: flex;

    margin-top: 2rem;
  }
}

.edition-title-container .edition-right-content p,
.edition-title-container .edition-right-content a {
  margin-bottom: 0;
  color: #959595;
  margin-right: 0.7rem;
  text-decoration: none !important;
}

@media (max-width: 767px) {
  .edition-title-container .edition-right-content p {
    width: auto;
  }
}

.manifesto-video-button-1,
.manifesto-video-button-0 {
  cursor: pointer;
}

.edition-title-container .edition-right-content svg {
  width: 2rem;
  height: 2.15rem;
  padding-top: 0.1rem;
}

.edition-title-container h2 {
  color: #ffffff;
  margin-bottom: 4.275rem;
}

@media (max-width: 767px) {
  #edition .edition-title-container h2 {
    margin-bottom: 1.2rem;
    font-size: 2.2rem;
  }
}

.edition-detail-container .edition-right-content p {
  margin-bottom: 0;
}

.edition-detail-container .edition-left-content p {
  margin-bottom: 1.6rem;
}

.livebook-header .edition-title-container:first-child p {
  color: #959595;
  font-family: GTAmerica;
  position: relative;
  padding-left: 0.8rem;
  margin-bottom: 0.8rem;
}

.livebook-header .edition-title-container:first-child p:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0 0 0 1px;
}

.livebook-header.mobile-only {
  margin-top: 2.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.livebook-header.mobile-only .chevron {
  margin-right: 2rem;
  margin-bottom: 1.5rem;
}

.livebook-header.mobile-only .chevron::before {
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  content: "";
  display: inline-block;
  height: 1.5rem;
  left: 0;
  position: relative;
  transform: rotate(45deg);
  vertical-align: middle;
  width: 1.5em;
  border-color: #848484;
}

.livebook-header.mobile-only p {
  color: white;
  width: 65%;
}

.livebook-section,
.edition-content .livebook-content {
  width: 100%;
}

.edition-content .livebook-title {
  width: 35%;

  display: inline-block;
  vertical-align: top;
}

@media (min-width: 651px) {
  .edition-content .livebook-title h3 {
    font-size: 1.7rem;
    line-height: 2.3rem;
  }
}

.edition-content .livebook-right-content {
  width: 25%;

  display: inline-block;
  vertical-align: top;
}

.edition-content .livebook-right-content p {
  color: #959595;
  font-family: GTAmerica;
  font-size: 0.9375rem;
}

.edition-content .livebook-left-content {
  width: 30%;
  margin: 0 4.5% 5%;

  display: inline-block;
  vertical-align: top;
}

.edition-content .livebook-left-content p {
  margin-bottom: 0.4rem;
  color: #959595;
  font-family: GTAmerica, sans-serif;
}

/* MODAL VIDEO */
.edition-title-container .edition-right-content .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow-y: scroll; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #000;
  margin: 40px auto; /* 15% from the top and centered */
  padding: 20px;
  border: none;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content video {
  width: 100%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.edition-content .livebook-left-content .tablinks.active {
  color: white;
}

/* Content switch on hover */
@media (min-width: 768px) {
  .edition-content .livebook-left-content .tablinks:hover {
    color: white;
  }
}

/* Style the tab content */
.tabcontent {
  display: none;
}

/* Livebook details on mobile */
@media (max-width: 767px) {
  main:not(#home) #section-title {
    width: 100%;
  }

  .edition-container:not(:first-child) {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .edition-detail-container.mobile-only .edition-left-content p {
    display: inline-block;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }

  .edition-detail-container.mobile-only
    .edition-left-content
    p:nth-child(n + 2) {
    color: #ccc;
  }

  .edition-detail-container.mobile-only .edition-left-content p:nth-child(2) {
    display: inline;
  }

  .edition-detail-container.mobile-only .edition-left-content p:nth-child(3) {
    margin-top: 0.5rem;
  }

  .edition-content {
    margin: 2rem;
  }

  .edition-content .livebook-title {
    margin-bottom: 3rem;
    width: 100%;
  }

  .edition-content .livebook-left-content {
    width: 100%;
    display: block;
    margin: 0;
  }

  .edition-content .livebook-left-content p {
    margin-bottom: 0.8rem;
  }

  .edition-content .livebook-left-content p.tabcontent {
    margin-bottom: 2rem;
  }
}

/* Desktop-only sections */
@media (max-width: 767px) {
  .desktop-only {
    display: none !important;
  }
}

/* Mobile-only sections */
@media (min-width: 768px) {
  .mobile-only {
    display: none !important;
  }
}
