@font-face {
  font-family: "GTAmerica";
  src: url("/assets/fonts/GTAmerica/GT-America-Regular.OTF");
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "GTAmerica";
  src: url("/assets/fonts/GTAmerica/GT-America-Extended-Light.OTF");
  font-style: normal;
  font-weight: 300;
  font-stretch: semi-expanded;
  font-display: swap;
}

@font-face {
  font-family: "GTAmerica";
  src: url("/assets/fonts/GTAmerica/GT-America-Extended-Regular.OTF");
  font-style: normal;
  font-weight: normal;
  font-stretch: semi-expanded;
  font-display: swap;
}

@font-face {
  font-family: "GTAmerica";
  src: url("/assets/fonts/GTAmerica/GT-America-Extended-Medium.OTF");
  font-style: normal;
  font-weight: 600;
  font-stretch: semi-expanded;
  font-display: swap;
}

@font-face {
  font-family: "GTAmerica";
  src: url("/assets/fonts/GTAmerica/GT-America-Extended-Bold.OTF");
  font-style: normal;
  font-weight: bold;
  font-stretch: semi-expanded;
  font-display: swap;
}

@font-face {
  font-family: "GTAmerica";
  src: url("/assets/fonts/GTAmerica/GT-America-Extended-Black.OTF");
  font-style: normal;
  font-weight: 900;
  font-stretch: semi-expanded;
  font-display: swap;
}

@font-face {
  font-family: "GTAmerica";
  src: url("/assets/fonts/GTAmerica/GT-America-Expanded-Black.OTF");
  font-style: normal;
  font-weight: 900;
  font-stretch: expanded;
  font-display: swap;
}

@font-face {
  font-family: "GTAmerica";
  src: url("/assets/fonts/GTAmerica/GT-America-Expanded-Bold.OTF");
  font-style: normal;
  font-weight: bold;
  font-stretch: expanded;
  font-display: swap;
}

@font-face {
  font-family: "GTAmerica";
  src: url("/assets/fonts/GTAmerica/GT-America-Expanded-Medium.OTF");
  font-style: normal;
  font-weight: 600;
  font-stretch: expanded;
  font-display: swap;
}

@font-face {
  font-family: "GTAmerica";
  src: url("/assets/fonts/GTAmerica/GT-America-Expanded-Regular.OTF");
  font-style: normal;
  font-weight: normal;
  font-stretch: expanded;
  font-display: swap;
}

@font-face {
  font-family: "GTAmerica";
  src: url("/assets/fonts/GTAmerica/GT-America-Expanded-Light.OTF");
  font-style: normal;
  font-weight: 300;
  font-stretch: expanded;
  font-display: swap;
}

@font-face {
  font-family: "GTAmerica";
  src: url("/assets/fonts/GTAmerica/GT-America-Expanded-Thin.OTF");
  font-style: normal;
  font-weight: 200;
  font-stretch: expanded;
  font-display: swap;
}

@font-face {
  font-family: "GTAmerica";
  src: url("/assets/fonts/GTAmerica/GT-America-Expanded-Ultra-Light.OTF");
  font-style: normal;
  font-weight: 100;
  font-stretch: expanded;
  font-display: swap;
}

@font-face {
  font-family: "GTAmerica Mono";
  src: url("/assets/fonts/GTAmericaMono/GT-America-Mono-Regular.OTF");
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "GTAmerica Mono";
  src: url("/assets/fonts/GTAmericaMono/GT-America-Mono-Medium.OTF");
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "GTAmerica Mono";
  src: url("/assets/fonts/GTAmericaMono/GT-America-Mono-Bold.OTF");
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Serif Text";
  src: url("/assets/fonts/DMSerifText/DMSerifText-Regular.ttf");
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Serif Text";
  src: url("/assets/fonts/DMSerifText/DMSerifText-Italic.ttf");
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Serif";
  src: url("/assets/fonts/IBMPlexSerif/IBMPlexSerif-Regular.ttf");
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Serif";
  src: url("/assets/fonts/IBMPlexSerif/IBMPlexSerif-Medium.ttf");
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: "IBM Plex Serif";
  src: url("/assets/fonts/IBMPlexSerif/IBMPlexSerif-Light.ttf");
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  font-weight: lighter;
}

@font-face {
  font-family: "IBM Plex Serif";
  src: url("/assets/fonts/IBMPlexSerif/IBMPlexSerif-Italic.ttf");
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}
