body {
  position: relative;
}

header > nav {
  overflow: hidden;
}

#header-background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background-image: url(../assets/background/background.png);
  opacity: 0.8;
  background-size: cover;
}

.container-fluid {
  position: relative;
}

main {
  width: 60%;
  margin: auto;
  padding-bottom: 10rem;
}

main * {
  color: white;
  font-family: "Karla", sans-serif;
  font-size: 2rem;
}

.textbox {
  margin-bottom: 10rem;
}

.team-container {
  width: 100%;
}

.team-single {
  width: 17%;
  margin: 0 5.333%;
  margin-bottom: 5rem;
  display: inline-block;
  text-align: center;
}

.team-single:nth-child(4n + 1) {
  margin-left: 0;
}

.team-single:nth-child(4n + 4) {
  margin-right: 0;
}

.team-single-image {
  position: relative;
  width: 100%;
  padding-top: 100%;
  margin: auto;
}
.team-single-image > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  border-radius: 50%;
  max-width: 100%;
}

.team-single-name > p {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin: 1rem 0;
}

.team-single-role > p {
  font-size: 2rem;
  line-height: 2rem;
  color: #dddddd;
}

#contact-form-container {
  clear: both;
  width: 100%;
}

#contact-form-name > p {
  font-size: 4rem;
}

#contact-form {
}

.contact-form-row {
  width: 100%;
}

.contact-form-row > input,
.contact-form-row > textarea {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  border-radius: 5px;
  height: 100%;
  color: white;
  padding-left: 1rem;
  width: 100%;
  height: 4rem;
  margin-bottom: 1rem;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: white;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}

.contact-form-row > textarea {
  height: 30rem;
  padding-top: 0.5rem;
  resize: none;
}

.contact-form-row:first-child > input {
  width: calc(50% - 0.5rem);
  float: left;
}
.contact-form-row:first-child > input:first-child {
  margin-right: 0.5rem;
}
.contact-form-row:first-child > input:last-child {
  margin-left: 0.5rem;
}

.question-buttons {
  opacity: 1;
  font-size: 1.5rem;
}
.question-buttons button {
  border: 2px solid white;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  background: transparent !important;
  float: right;
}

@media (max-width: 1060px) {
  main {
    width: 90%;
    margin: auto !important;
    padding-top: 20rem !important;
  }

  #header-background {
    display: none;
  }
}

@media (max-width: 768px) {
  main {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5rem !important;
  }
  .team-single {
    width: 26.6666%;
    margin: 0 5%;
    margin-bottom: 5rem;
  }

  .team-single:nth-child(4n + 1) {
    margin-left: 5%;
  }

  .team-single:nth-child(4n + 4) {
    margin-right: 5%;
  }

  .team-single:nth-child(3n + 1) {
    margin-left: 0;
  }

  .team-single:nth-child(3n + 3) {
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .team-single {
    width: 45%;
    margin: 0 5%;
    margin-bottom: 5rem;
  }

  .team-single:nth-child(4n + 1) {
    margin-left: 5%;
  }

  .team-single:nth-child(4n + 4) {
    margin-right: 5%;
  }

  .team-single:nth-child(3n + 1) {
    margin-left: 5%;
  }

  .team-single:nth-child(3n + 3) {
    margin-right: 5%;
  }
  .team-single:nth-child(odd) {
    margin-left: 0;
  }

  .team-single:nth-child(even) {
    margin-right: 0;
  }

  .contact-form-row > input,
  .contact-form-row > textarea {
    padding-left: 2rem;
    font-size: 3rem;
  }
  .contact-form-row > input {
    height: 8rem;
  }
  .contact-form-row > textarea {
    height: 40rem;
  }
}
